<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.javalearnproject.mapper.PasswordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="learn.javalearnproject.Entity.Password">
        <result column="passwordName" property="passwordName" />
        <result column="password" property="password" />
        <result column="account" property="account" />
        <result column="port" property="port" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        passwordName, password, account, port
    </sql>

</mapper>
