<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.ERP.HRM.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="learn.ERP.HRM.Entity.Employee">
        <id column="EmployeeID" property="employeeID" />
        <result column="Name" property="name" />
        <result column="Gender" property="gender" />
        <result column="BirthDate" property="birthDate" />
        <result column="Phone" property="phone" />
        <result column="HireDate" property="hireDate" />
        <result column="Position" property="position" />
        <result column="Department" property="department" />
        <result column="ContractStart" property="contractStart" />
        <result column="ContractEnd" property="contractEnd" />
        <result column="ContractType" property="contractType" />
        <result column="LastModifiedBy" property="lastModifiedBy" />
        <result column="LastModifiedDate" property="lastModifiedDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        EmployeeID, Name, Gender, BirthDate, Phone, HireDate, Position, Department, ContractStart, ContractEnd, ContractType, LastModifiedBy, LastModifiedDate
    </sql>

</mapper>
