<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.ERP.HRM.mapper.EmployeepositionhistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="learn.ERP.HRM.Entity.Employeepositionhistory">
        <id column="HistoryID" property="HistoryID" />
        <result column="EmployeeID" property="EmployeeID" />
        <result column="OldPosition" property="OldPosition" />
        <result column="OldDepartment" property="OldDepartment" />
        <result column="NewPosition" property="NewPosition" />
        <result column="NewDepartment" property="NewDepartment" />
        <result column="ChangeDate" property="ChangeDate" />
        <result column="ChangeReason" property="ChangeReason" />
        <result column="ModifiedBy" property="ModifiedBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        HistoryID, EmployeeID, OldPosition, OldDepartment, NewPosition, NewDepartment, ChangeDate, ChangeReason, ModifiedBy
    </sql>

</mapper>
