<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learn.ERP.HRM.mapper.User_rolesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="learn.ERP.HRM.Entity.User_roles">
        <id column="user_id" property="user_id" />
        <id column="role_id" property="role_id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, role_id
    </sql>

</mapper>
